[build-system]
requires = ["setuptools>=51", "wheel"]
build-backend = "setuptools.build_meta"

[tool.pytest.ini_options]
# addopts = "--maxfail=2 -rf"
# testpaths = ["qbraid/devices/tests", "qbraid/interface/tests", "qbraid/transpiler/tests"]
filterwarnings = "ignore:.*U.*mode is deprecated:DeprecationWarning"

[tool.black]
line-length = 100
target-version = ['py37', 'py38', 'py39']
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.__pycache__
  | \.tox
  | \.venv
  | tutorials
  | dist
)/
'''

[tool.coverage.run]
parallel = true
source = ["qbraid"]
omit = [
  "**/qbraid/algorithms/*", 
  "**/qbraid/api/*",
  "**/qbraid/applications/*", 
  "**/qbraid/circuits/*", 
  "**/qbraid/operators/*",
  "**/qbraid/transpiler/*"
  ]

[tool.coverage.paths]
source = ["qbraid", ".tox/*/lib/python*/site-packages/qbraid"]

[tool.coverage.report]
show_missing = true
skip_covered = true
ignore_errors = true
# exclude_lines = [
#     "*raise AssertionError*",
#     "*raise NotImplementedError*",
#     "*return NotImplemented*",
#     "*raise*$",
#     ]

[tool.coverage.html]
directory = "build/coverage"

[tool.coverage.xml]
output = "build/coverage/coverage.xml"

[tool.pylint.'MESSAGES CONTROL']
max-line-length = 100
disable = "R0801, R0913, R0902, R0903, E0401, R0801, C0103, W0401"

[tool.isort]
profile = "hug"
skip_glob = "**/qbraid/devices/*/__init__.py"




