# integrations
amazon-braket-sdk~=1.61.0
cirq-ionq~=1.3.0.dev20231102230836
pyquil~=4.0.3
pytket~=1.21.0
pytket-braket~=0.31.1
qiskit~=0.45.0
qiskit-ibm-provider~=0.7.2
qiskit-qasm3-import>=0.2.0,<0.4.0

# visualization
matplotlib
ipython

# testing
sympy
pytest
coverage
