# integrations
amazon-braket-sdk~=1.54.3.post0
cirq-ionq~=1.3.0.dev20230908221855
cirq-rigetti~=1.3.0.dev20230908221855
pyquil>=3.5.4,<3.6.0
pytket~=1.19.1
pytket-braket~=0.30.0
qiskit~=0.44.1
qiskit-ibm-provider~=0.7.0
qiskit-qasm3-import~=0.2.0

# visualization
matplotlib
ipython
# pylatex
# qiskit[visualization]

# testing
sympy
pytest
coverage