# optional program types
amazon-braket-sdk>=1.83.0,<1.96.0
cirq-core>=1.3,<1.6
cudaq>=0.9.0; python_version < "3.13"
pennylane<0.42
pyquil>=4.4; python_version < "3.13"
qcs-sdk-python>=0.21.12,<0.21.19; python_version < "3.13"
pytket>=1.31
qiskit>=1.0,<3.0

# transpiler extras
ply>=3.6
bloqade-analog>=0.16.2,<0.17.0; python_version < "3.13"
cirq-ionq>=1.3,<1.5
qbraid-qir>=0.2.0,<=0.4.0
pytket-braket>=0.35.1,<0.43.0
qiskit-qasm3-import>=0.5.1
qiskit-aer>=0.15.0; python_version < "3.13"
qiskit-qir
qiskit-ionq>=0.5.12
pyqpanda3>=0.2.0; python_version < "3.13"
autoqasm>=0.1.2,<0.2

# optional runtime dependencies
qiskit-ibm-runtime>=0.25.0,<0.41
oqc-qcaas-client>=3.11.0; python_version < "3.13"
azure-quantum>=2.0,<2.3
azure-storage-blob>=12.20,<13.0
azure-identity>=1.17,<2.0
pyqubo>=1.4.0
pulser-core>=1.4.0; python_version < "3.13"
pulser-simulation>=1.4.0; python_version < "3.13"

# visualization
ipython
matplotlib>=3.3,<3.11
flair-visual>=0.5.3; python_version < "3.13"
pandas

# testing dependencies
sympy
packaging>=20.0
pytest
pytest-cov
pytest-asyncio>=0.21
