# Copyright (C) 2024 qBraid
#
# This file is part of the qBraid-SDK
#
# The qBraid-SDK is free software released under the GNU General Public License v3
# or later. You can redistribute and/or modify it under the terms of the GPL v3.
# See the LICENSE file in the project root or <https://www.gnu.org/licenses/gpl-3.0.html>.
#
# THERE IS NO WARRANTY for the qBraid-SDK, as per Section 15 of the GPL v3.

name: CI - Daily

on:
  schedule:
    # Runs every day at 9 AM CST (3 PM UTC)
    - cron: '0 15 * * *'

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'

    steps:
    - uses: actions/checkout@v5
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
        cache: pip
    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip setuptools
        python3 -m pip install tox
    - name: Tests
      run: |
        tox -e unit-tests
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        QISKIT_IBM_TOKEN: ${{ secrets.QISKIT_IBM_TOKEN }}
        QBRAID_API_KEY: ${{ secrets.QBRAID_API_KEY }}
        AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
        AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
        AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
        AZURE_QUANTUM_SUBSCRIPTION_ID: ${{ secrets.AZURE_QUANTUM_SUBSCRIPTION_ID }}
        AZURE_QUANTUM_WORKSPACE_RG: ${{ secrets.AZURE_QUANTUM_WORKSPACE_RG }}
        AZURE_QUANTUM_WORKSPACE_NAME: ${{ secrets.AZURE_QUANTUM_WORKSPACE_NAME }}
        OQC_AUTH_TOKEN: ${{ secrets.OQC_AUTH_TOKEN }}
        IONQ_API_KEY: ${{ secrets.IONQ_API_KEY }}
        QBRAID_RUN_REMOTE_TESTS: True
      timeout-minutes: 20
