name: Formatting check

on:
    pull_request:
        branches: ['main']

jobs:
  black:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          python -m pip install -U pip setuptools ipython
          python -m pip install tox
      - name: Check isort, pylint, black, headers
        run: |
          tox -e format-check