name: CI

on:
  push:
    branches: ['main']
  pull_request_target:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.9', '3.10']

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        cache: pip
    - name: Install dependencies
      run: |
        python -m pip install -U pip setuptools ipython
        python -m pip install 'tox<4'
    - name: Tests
      run: |
        tox -e unit-tests
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        QISKIT_IBM_TOKEN: ${{ secrets.QISKIT_IBM_TOKEN }}
        JUPYTERHUB_USER: ${{ secrets.JUPYTERHUB_USER }}
        REFRESH: ${{ secrets.REFRESH }}
        QBRAID_API_KEY: ${{ secrets.QBRAID_API_KEY }}
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        fail_ci_if_error: false
        files: ./build/coverage/coverage.xml
        verbose: true
