# Copyright (C) 2024 qBraid
#
# This file is part of the qBraid-SDK
#
# The qBraid-SDK is free software released under the GNU General Public License v3
# or later. You can redistribute and/or modify it under the terms of the GPL v3.
# See the LICENSE file in the project root or <https://www.gnu.org/licenses/gpl-3.0.html>.
#
# THERE IS NO WARRANTY for the qBraid-SDK, as per Section 15 of the GPL v3.

name: Pre-release qbraid to PyPi

on:
  workflow_dispatch:

jobs:
  pypi-publish:
    name: Build dist & upload to PyPI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install build

      - name: Build binary wheel + source tarball
        id: build-dev
        run: |
            export QBRAID_PRE_RELEASE_VERSION=$(tools/stamp_dev_version.sh)
            if [[ "$QBRAID_PRE_RELEASE_VERSION" =~ .*dev.* ]]; then
              echo "Deploying dev version '$QBRAID_PRE_RELEASE_VERSION'"
            else
              echo "Not dev version"
              exit 0
            fi
            out_dir="${PWD}/dist"
            tools/create_dev_build.sh $QBRAID_PRE_RELEASE_VERSION "${out_dir}"
            echo "dir=$out_dir" >> $GITHUB_OUTPUT

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
          packages-dir: ${{ steps.build-dev.outputs.dir }}